@using CutIt.Models
@model Link
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Maybe we";
}

<div>
    @using (Html.BeginForm("Update", "Link", FormMethod.Post))
    {
        @Html.EditorFor(model => model.OriginalLink);
        @Html.HiddenFor(model => model.ShortLink);
        @Html.HiddenFor(model => model.Id);
        <button type="submit">Update</button><br/>
        @Html.ValidationMessage("OriginalLink")
    }
</div>
